{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100">
    <div class="flex items-center justify-center min-h-screen">
        <div class="bg-white p-10 rounded-lg shadow-lg w-96">
            <h1 class="text-3xl font-semibold text-center text-blue-600"> <span><a href="{% url 'index' %}">Craftify</a></span> / <span>Login</span></h1>
            <form action="" method="post">
                {% csrf_token %}
            <input  required name="username" type="text" class="focus:outline-none focus:shadow mt-6 p-3 border rounded w-full" placeholder="Username">
            <input required name="password" type="password" class="focus:outline-none focus:shadow mt-4 p-3 border rounded w-full" placeholder="Password">
            <div>
                {% for messages in messages %}
                  <p class="pt-4 text-red-500" id="messages">{{messages}}</p>
                
                {% endfor %}
            </div>
            <button class="mt-6 w-full bg-blue-600 text-white py-3 rounded hover:bg-blue-700">Login</button>
            </form>
            <p class="text-center text-gray-600 mt-4">Don't have an account? <a href="{% url 'register' %}" class="text-blue-500 hover:underline">Sign Up</a></p>
        </div>
        
    </div>
</body>
</html>
